dist: trusty
sudo: false

language: php

php:
    - 5.4
    - 5.5
    - 5.6
    - 7.0
    - 7.1
    - 7.2
    - hhvm
    - nightly

matrix:
    allow_failures:
        - php: nightly

install:
    - composer self-update
    - composer global require 'fxp/composer-asset-plugin:*'
    - composer update --no-interaction --prefer-source
    - |
        COVERAGE_PHP_VERSION='5.6'
        if [ $TRAVIS_PHP_VERSION = $COVERAGE_PHP_VERSION ]; then
            pecl channel-update pecl.php.net
            pecl install runkit
        fi

before_script:
    - |
        if [ $TRAVIS_PHP_VERSION = $COVERAGE_PHP_VERSION ]; then
            PHPUNIT_FLAGS='--coverage-clover=coverage.clover'
        fi

script:
    - vendor/bin/phpunit $PHPUNIT_FLAGS

after_script:
    - |
        if [ $TRAVIS_PHP_VERSION = $COVERAGE_PHP_VERSION ]; then
            wget https://scrutinizer-ci.com/ocular.phar
            php ocular.phar code-coverage:upload --format=php-clover coverage.clover
        fi
