<?xml version="1.0" encoding="UTF-8"?>
<!--
<phpunit> attributes:
  beStrictAboutTestSize for PHPUnit < 5.0.0 (replaced by enforceTimeLimit)
  checkForUnintentionallyCoveredCode for PHPUnit < 6.0.0 (replaced by beStrictAboutCoversAnnotation)
-->
<phpunit
        bootstrap="tests/bootstrap.php"

        beStrictAboutChangesToGlobalState="true"
        beStrictAboutCoversAnnotation="true"
        beStrictAboutOutputDuringTests="true"
        beStrictAboutResourceUsageDuringSmallTests="true"
        beStrictAboutTestSize="true"
        beStrictAboutTestsThatDoNotTestAnything="true"
        beStrictAboutTodoAnnotatedTests="true"
        checkForUnintentionallyCoveredCode="true"
        colors="true"
        convertDeprecationsToExceptions="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        enforceTimeLimit="true"
        forceCoversAnnotation="true"
        verbose="true">
    <testsuites>
        <testsuite name="Yii 2 JSON Editor">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <!-- <filter> deprecated since PHPUnit 9.3.0 (replaced by <coverage>) -->
    <filter>
        <whitelist>
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
    <coverage>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </coverage>
</phpunit>
